/* CSS로 강제로 크기 조절을 해둔게 많아서, 추후에 반응형을 위해 수정해야합니다. */

.test {
  text-align: center;
}

.MyPage-settingimg {
  width: 80px;
  height: 80px;
}

.MyPage-profileimg {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 0.1px solid rgb(230, 230, 230);
  /* box-shadow: 0.1px 0.1px 50px #fbb3c2; */
}

.MyPage-nickname {
  font-family: "MaplestoryOTFLight";
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.MyPage-follow {
  font-family: "MaplestoryOTFLight";
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* 


.MyPage-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 0;
}
/* 프로필 사진&닉네임&팔로잉 팔로워&타이머&라이브로 이동 버튼 한 세트로 묶여있어요 */

.MyPage {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.MyPage-side {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: -20px;
  flex-grow: 1;
}
/* 여기 조정해서 칩이랑 버튼 배치해야되요 */

/* .MyPage-chips {
  margin-right: 600px;
} */

/* .MyPage-message-button {
  font-family: "MaplestoryOTFBold";
  font-size: 1.5rem;
  background-color: #fbb3c2;
  color: white;
  border: none;
  width: 150px;
  height: 60px;
  border-radius: 50px;
  cursor: pointer;
  text-shadow: 0.1px 0.1px 2px #e892a4;
} */

.ProfileSetting-button {
  font-family: "MaplestoryOTFBold";
  font-size: 25px;
  background-color: #fbb3c2;
  color: white;
  border: none;
  border-radius: 30px;
}
