.test {
  text-align: center;

}

.MyPage-header {
  display: grid;
  grid-template-columns: 3fr 4fr 1fr; 
  align-items: center;
  /* gap: 20px;  */
}

.MyPage-settingimg {
  margin-left: 80px;
  width: 80px;
  height: 80px;
}

.MyPage-profileimg {
  width: 300px;
  height: 300px;
}

.MyPage-nickname {
  font-family: 'HakgyoansimWoojuR';
  font-size: 30px;
}

.MyPage-button {
  font-family: 'HakgyoansimWoojuR';
  font-size: 20px;
  background-color: #fbb3c2;
  color: #9a4059;
  border: none;
  border-radius: 50px;
}

.MyPage-profile {
  display: flex;
  flex-direction: column;
  align-items: center;  
  width: 30%;
  margin: 0 ;
}
/* 프로필 사진&닉네임&팔로잉 팔로워&타이머&라이브로 이동 버튼 한 세트로 묶여있어요 */


.MyPage {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.MyPage-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px; /* or whatever width you want */
  margin-top: -20px;
}

/* 여기 조정해서 칩이랑 버튼 배치해야되요 */